html, body{
    width: 100%; height: 100%; padding: 0; margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.nav-form {
    margin-bottom: 0px;
}

.page-container {
    padding: 0rem;
    height: calc(100vh - 4rem);
    overflow: hidden;
}

table {
    vertical-align: middle !important;
}

table .badge {
    padding-top: 5px;
}

#map-container form {
    margin-bottom: 8px;
}

#common-toolbar {
    position: sticky;
    top: 0.5rem;
    height: 3.5rem;
    padding-left: 1rem;
}

#user-login {
    color: aquamarine;
}

#user-balance {
    color: aquamarine;
    padding: 0.5rem;
}

form#toolbar button {
    margin-left: 5px;
}